@model List<KAssets.Areas.AssetsActions.Models.RequestForRenovationViewModel>
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@RenovationTr.HistoryRequestsForRenovation</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().FromName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().InventoryNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DateOfSend)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FromName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfSend)
            </td>
            <td>
                @Html.ActionLink(Common.View, "ViewAllHistoryRequest", new { id = item.Id }, new { @class = "btn btn-default" })
            </td>
        </tr>
    }

</table>
@if (Model.Count == 0)
{
    <h4>@ScrappingTr.NoHistory</h4>
}