@model IEnumerable<KAssets.Areas.AssetsActions.Models.RequestForRenovationViewModel>
@{
    ViewBag.Title = "Assets for renovating";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@RenovationTr.AssetsForRenovating</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().FromName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().InventoryNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DateOfSend)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FromName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfSend)
            </td>
            <td>
                @Html.ActionLink(Common.View, "ViewAssetForRenovating", new { id = item.Id }, new { @class = "btn btn-default" })
            </td>
        </tr>
    }

</table>

@if(Model.Count()==0)
{
    <h4>@RenovationTr.NoAssetsForRenovating</h4>
}
