@model KAssets.Areas.AssetsActions.Models.RequestForRenovationDetails
@{
    ViewBag.Title = "Approved request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@RenovationTr.ApprovedRequest</h2>
<hr />
<br />
<div class="row">
    <div class="col-md-6">
        <h3>@RenovationTr.RequestDetails</h3>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FromName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FromName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DateOfSend)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateOfSend)
            </dd>
            <br />
            <dt>
                @Html.DisplayNameFor(model => model.ProblemMessage)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProblemMessage)
            </dd>
        </dl>
    </div>
    <div class="col-md-6">
        <h3>@ScrappingTr.AssetDetails</h3>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Asset.InventoryNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Asset.InventoryNumber)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Asset.Producer)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Asset.Producer)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Asset.Brand)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Asset.Brand)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Asset.ItemModel)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Asset.ItemModel)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Asset.Guarantee)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Asset.Guarantee)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Asset.Type)
            </dt>

            <dd>
                @Enum.GetName(typeof(KAssets.Models.TypesOfAsset), Model.Asset.Type)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Asset.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Asset.Price) @(" "+Model.Asset.Currency)
            </dd>
            <dt>
                @Html.DisplayName(Common.Site)
            </dt>
            <dd>
                @Model.Asset.SiteName
            </dd>
            <dt>
                @Html.DisplayName(Common.Location)
            </dt>
            <dd>
                @if (Model.Asset.Location != null)
                {
                    <div>
                        @if (Model.Asset.Location.Country != null)
                        {
                            @Model.Asset.Location.Country
                        }
                        @if (Model.Asset.Location.Town != null)
                        {
                            @Model.Asset.Location.Town
                        }
                        @if (Model.Asset.Location.Street != null)
                        {
                            @Model.Asset.Location.Street
                        }
                        @((Model.Asset.Location.StreetNumber != null && Model.Asset.Location.StreetNumber.Value != 0 ? Model.Asset.Location.StreetNumber.Value.ToString() : ""))
                        @Model.Asset.Location.Latitude @Model.Asset.Location.Longitude
                    </div>
                }
            </dd>
        </dl>
    </div>
</div>


<div class="row">
    <div class="col-md-6 col-md-offset-2">
        @using (Html.BeginForm("GiveAsset", "RenovationAsset"))
        {
            @Html.AntiForgeryToken()

            <input type="hidden" name="id" value="@Model.Id" />

            <div class="form-group">
                <div class=" col-md-2 margin-r-5" style="padding-right:0px">
                    <input type="submit" value="@RenovationTr.GiveAsset" class="btn btn-primary float-right" />
                </div>
                <div class="col-md-2">
                    <a href="/AssetsActions/RenovationAsset/GetApprovedRequestsForUser" class="btn btn-default " >@Common.Cancel</a>
                </div>
            </div>
        }
        @using (Html.BeginForm("RemoveRequest", "RenovationAsset"))
        {
            @Html.AntiForgeryToken()

            <div class="col-md-2">
                <input type="hidden" name="id" value="@Model.Id" />
                <input type="submit" value="@Common.Decline" class="btn btn-danger" />
            </div>
        }
    </div>
</div>
