@model KAssets.Areas.Orders.Models.AddItemAcquisitionRequestViewModel

@{
    ViewBag.Title = "Send request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link href="~/Content/styles.css" rel="stylesheet" />
<style>
    .font-weight-bold {
        font-weight: bold;
    }
</style>
<div id="items" class="hidden" title="@ItemOrderTr.ChooseItems">
</div>

<div id="locations" class="hidden" title="@ItemOrderTr.ChooseLocation">
</div>

<div id="users" class="hidden" title="@ItemOrderTr.ChooseUser">
</div>

<h2>@ItemOrderTr.RequestForItems</h2>
<hr />
<div class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-md-12">
            <h4>@Common.Items</h4>
            <br />
            <div class="col-md-3">
                @Html.Label(ItemOrderTr.PleaseSelectItems, new { @class = "control-label" })
                <br />
                <input type="button" class="btn btn-default chooseItems" value="@Common.Choose" />
            </div>
            <div class="col-md-9">
                <div class="row font-weight-bold">
                    <div class="col-md-3">@AssetTr.Brand</div>
                    <div class="col-md-3">@AssetTr.Model</div>
                    <div class="col-md-2">@Common.Organisation</div>
                    <div class="col-md-1">@Common.Count</div>
                    <div class="col-md-2">@AssetTr.Price</div>
                    <hr />
                </div>
                <div id="selectedItems">
                </div>
                <div class="col-md-offset-9">
                    <hr />
                    <h4>@Common.Total: <span id="total">0.00</span></h4>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <hr />
            <h4>@ItemOrderTr.AreItemsForUser</h4>
            <br />
            <div class="col-md-1">
                @Html.LabelFor(m => m.Users, new { @class = "control-label" })
            </div>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.SelectedUser, new { @class = "form-control selectedUser", style = "width:130px; display:inline", id = "userDropDown", @readonly = "readonly" })
                <button class="btn btn-default chooseUser">@Common.Choose</button>
                <br />
                <a class="clearUser btn btn-sm btn-danger">@Common.Clear</a>
            </div>
        </div>

        <div class="col-md-12">
            <hr />
            <h4>@ItemOrderTr.AreItemsForLocation</h4>
            <br />
            <div class="col-md-1">
                @Html.LabelFor(m => m.Locations, new { @class = "control-label" })
            </div>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.SelectedLocation, new { @class = "form-control selectedLocation", style = "width:130px; display:inline", id = "locationDropDown", @readonly = "readonly" })
                <button class="btn btn-default chooseLocation">@Common.Choose</button>
                <br />
                <a class="clearLocation btn btn-sm btn-danger">@Common.Clear</a>
            </div>
        </div>
        <hr />
        <div class="form-group col-md-12">
            <br />
            <div class="col-md-offset-2 col-md-2">
                <input type="submit" value="@Common.SendRequest" class="btn btn-primary" />
            </div>
            <div class="col-md-8">
                <a href="/Home/Index" class="btn btn-default">@Common.Cancel</a>
            </div>
        </div>

    }
</div>
@section Scripts
{
    <script src="~/Areas/Orders/Scripts/ItemOrder/SendRequestJS.js"></script>
}