@model List<KAssets.Areas.Orders.Models.ListItemAcquisitionRequestViewModel>
@{
    ViewBag.Title = "Approved requests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@AssetOrderTr.ApprovedRequests</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().From)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DateOfSend)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.From.FullName
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfSend)
            </td>
            <td>
                <a class="btn btn-primary" href="/Orders/ItemOrder/ViewApprovedRequest/@item.Id">@Common.View</a>
            </td>
        </tr>
    }

</table>
@if(Model.Count==0)
{
    <h4>@AssetOrderTr.NoApprovedRequests</h4>
}