@model KAssets.Areas.HelpModule.Models.LocationViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    dd {
        height: 1.6em; /* or whatever - but use ems :) */
    }
</style>

<h2>@Common.Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Town)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Town)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetNumber)
        </dd>
        <dd>
            <div>
                @if (Model.Country != null)
                {
                    @Model.Country
                }
                @if (Model.Town != null)
                {
                    @Model.Town
                }
                @if (Model.Street != null)
                {
                    @Model.Street
                }
                @((Model.StreetNumber != null && Model.StreetNumber.Value != 0 ? Model.StreetNumber.Value.ToString() : ""))
                @Model.Latitude @Model.Longitude
            </div>
            <div>
                @Html.Partial("~/Areas/HelpModule/Views/Location/_Location.cshtml", @Model)
            </div>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink(Common.BackToList, "Index","Location")
</p>
