@model KAssets.Areas.HelpModule.Models.ProviderDetailsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    dd {
        height: 1.6em; /* or whatever - but use ems :) */
    }
</style>
<h2>
    @Common.Details
    @if (Model.Status == "Active")
    {
        @Html.ActionLink(Common.Edit, "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
    }
</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bulstat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bulstat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <div>
            <h4>@BillTr.Bill</h4>
            <hr />
        </div>
        <dt>
            @Html.DisplayNameFor(model => model.Bill.IBAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bill.IBAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bill.Currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bill.Currency)
        </dd>
    </dl>
</div>
<p>
    @if (Model.Status == "Active")
    {
        @Html.ActionLink(Common.BackToList, "GetAll")
    }
    else
    {
        @Html.ActionLink(Common.BackToList, "GetAllDeleted")
    }
</p>
