@model KAssets.Areas.Reports.Models.CreateAssetStatusReport

@{
    ViewBag.Title = "CreateReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Reports.GetAllAssetsStatus</h2>

@using (Html.BeginForm("Result","AssetStatus"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <div class=" col-md-offset-1">
                <h4>@Reports.PleaseSelStatus</h4>
            </div>
        </div>
        <div class="form-group">
            <div class=" col-md-offset-1">
                @Html.DropDownListFor(model => model.SelectedStatus, Model.Statuses
          .Select(item => new SelectListItem { Value = item.ToString(), Text = item.ToString(), Selected = item == "Active" }),
                    new { @class = "form-control", @id = "selectSite" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-1 margin-r-5">
                <input type="submit" value="@Reports.Result" class="btn btn-default" />
            </div>
            <div class="col-md-9">
                <a href="/Home/Index" class="btn btn-default">@Common.Cancel</a>
            </div>
        </div>
    </div>
}
