@model KAssets.Areas.Invoices.Models.InvoiceFullViewModel
@{
    ViewBag.Title = "Invoice for paid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/CssKAssets/PrintInvoiceCss.css" rel="stylesheet" />
<style>
    .font-weight-bold {
        font-weight: bold;
    }
</style>

<button class="btn btn-default frmPrint" id="print">@Common.Print</button>
<h2>@InvoiceTr.InvoiceForPaying</h2>
<br />
<div class="col-md-12 printCell">
    <h4>@InvoiceTr.InvoiceNumber</h4>
    <br />
    <div>
        <div class="col-md-3">
            @Html.Label(InvoiceTr.InvoiceNumber, new { @class = "control-label" })
            <br />
        </div>
        <div class="col-md-5">
            @Html.DisplayFor(x => x.Number, new { @class = "form-control" })
        </div>
    </div>
</div>

<div class="col-md-12 printCell">
    <hr />
    <h4>@InvoiceTr.Dates </h4>
    <br />
    <div class="form-group">
        @Html.Label(InvoiceTr.DateOfIssue, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.DisplayFor(x => x.DateOfIssue, new { @class = "form-control" })
        </div>
    </div>
    <div class="col-md-12">
        <br />
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PaymentPeriod, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.DisplayFor(model => model.PaymentPeriod, new { htmlAttributes = new { @class = "form-control date-picker" } })
        </div>
    </div>
    <div class="col-md-12">
        <br />
    </div>
    <div class="form-group">
        @Html.Label(InvoiceTr.DateOfApproving, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.DisplayFor(x => x.DateOfApproving, new { @class = "form-control" })
        </div>
    </div>
</div>

<div class="col-md-12 printCell">
    <hr />
</div>
<div class="col-md-12 printCell">
    <h4>@InvoiceTr.CompiledUser</h4>
    <br />
    <div>
        <div class="form-group">
            @Html.Label(InvoiceTr.CompiledUser, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.DisplayFor(model => model.CompiledUser, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>
</div>



<div class="col-md-12">
    <hr />
</div>
<div class="col-md-12 printCell">
    <h4>@InvoiceTr.RemitTo</h4>
    <br />
    <div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3 font-weight-bold">
                    @ProviderTr.Name:
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(x => x.ProviderName, null, new { htmlAttributes = new { @id = "ProviderName", @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
            <div class="col-md-12">
                <br />
            </div>
            <div class="row">
                <div class="col-md-3 font-weight-bold">
                    @ProviderTr.Email:
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(x => x.ProviderEmail, new { htmlAttributes = new { @id = "ProviderEmail", @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>

            <div class="col-md-12">
                <br />
            </div>
            <div class="row">
                <div class="col-md-3 font-weight-bold">
                    @ProviderTr.Address:
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(x => x.ProviderAddress, null, new { htmlAttributes = new { @id = "ProviderIBAN", @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>

            <div class="col-md-12">
                <br />
            </div>
            <div class="row">
                <div class="col-md-3 font-weight-bold">
                    @ProviderTr.Bulstat:
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(x => x.ProviderBulstat, null, new { htmlAttributes = new { @id = "ProviderIBAN", @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <br />
        <br />
    </div>
    <div>
        <div class="form-group">
            @Html.Label(InvoiceTr.AcountablePerson, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.DisplayFor(model => model.RecipientMOL, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="col-md-12">
            <br />
        </div>
    </div>
</div>
<div class="col-md-12 printCell">
    <br />
    <hr />
</div>
<div class="col-md-12 printCell">
    <h4>@InvoiceTr.BillTo</h4>
    <br />
    <div>
        <div class="form-group">
            @Html.Label(Common.Organisation, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.DisplayFor(model => model.BillToOrganisation, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="col-md-12">
            <br />
        </div>
        <div class="form-group">
            @Html.Label(Common.Site, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.DisplayFor(model => model.BillToSite, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="col-md-12">
            <br />
        </div>
        <div class="form-group">
            @Html.Label(Common.Address, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.DisplayFor(model => model.BillToAddress, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <hr />
</div>
@if (Model.POFrom != null)
{
    <div class="col-md-12 printCell">
        <h4>@InvoiceTr.ProviderOrder</h4>
        <br />
        <div>
            <div class="form-group">
                @Html.Label(Common.From, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.DisplayFor(model => model.POFrom, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="col-md-12">
                <br />
            </div>
            <div class="form-group">
                @Html.Label(InvoiceTr.Provider, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.DisplayFor(model => model.POProvider, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="col-md-12">
                <br />
            </div>
            <div class="form-group">
                @Html.Label(InvoiceTr.DateOfSend, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.DisplayFor(model => model.PODateOfSend, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-12">
        <hr />
    </div>
}
<div class="col-md-12 page-break">
    <h4>@Common.Items</h4>
    <br />
    <div class="col-md-12">
        <div class="row font-weight-bold">
            <div class="col-md-3 printMark">@AssetTr.Brand</div>
            <div class="col-md-3 printMark">@AssetTr.Model</div>
            <div class="col-md-3 printMark">@Common.Count</div>
            <div class="col-md-3 printMark">@AssetTr.Price</div>
            <hr />
        </div>
        <div class="row">
            @foreach (var item in Model.Items)
            {
                <div class="col-md-3 printMark">@item.Brand</div>
                <div class="col-md-3 printMark">@item.Model</div>
                <div class="col-md-3 printMark">@item.Quantity</div>
                <div class="col-md-3 printMark">@item.Price @(" " + item.Currency)</div>
                <div class="col-md-12">
                    <br />
                </div>
            }
        </div>

        <div class="col-md-offset-8">
            <hr />
            <h4>
                @Common.Total: @Model.Price
            </h4>
        </div>
    </div>
</div>

<div class="col-md-12">
    <br />
    <hr />
</div>


<div class="row frmPrint">
    <div class="col-md-6 col-md-offset-3">
        @using (Html.BeginForm("Pay", "Invoice"))
        {
            @Html.AntiForgeryToken()

            <input type="hidden" name="id" value="@Model.Id" />

            <div class="form-group">
                <div class=" col-md-2">
                    <input type="submit" value="@InvoiceTr.Pay" class="btn btn-primary" />
                </div>
                <div class="col-md-6">
                    <a href="/Invoices/Invoice/GetInvoicesForPaid" class="btn btn-default">@Common.Cancel</a>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts
{
    <script src="~/Scripts/PrintPage.js"></script>
}