@model KAssets.Areas.Orders.Models.BaseRequestForAssetViewModel
@{
    ViewBag.Title = "Request for approving";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@AssetOrderTr.RequestForApproving</h2>
<br />

<div>
    <h4>@AssetOrderTr.Request</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Request.DateOfSend)
        </dt>


        <dd>
            @Html.DisplayFor(model => model.Request.DateOfSend)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Request.From)
        </dt>
        <dd>
            @Model.Request.From.FullName
        </dd>
    </dl>
</div>
<br />

<hr />

@using (Html.BeginForm("Approve", "AssetOrder"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="form-group">
            <h4>@AssetTr.Assets</h4>

            <div class="col-md-12">
                <div class="dt-horizontal" style="font-weight:bold">
                    <div class="col-md-2">@AssetTr.InventoryNumber</div>
                    <div class="col-md-3">@AssetTr.Brand</div>
                    <div class="col-md-3">@AssetTr.Model</div>
                    <div class="col-md-2">@Common.Site</div>
                    <div class="col-md-1">@AssetTr.Price</div>
                </div>
                <div class="row">
                    <hr />
                </div>

                @for (int i = 0; i < Model.WantAssets.Count; i++)
                {
                    <div class="panel panel-default row itemRow">
                        <div class="col-md-2">@Model.WantAssets[i].Asset.InventoryNumber</div>
                        <div class="col-md-3">@Model.WantAssets[i].Asset.Brand</div>
                        <div class="col-md-3">@Model.WantAssets[i].Asset.AssetModel</div>
                        <div class="col-md-2">@Model.WantAssets[i].Asset.SiteName</div>
                        <div class="col-md-1">@Model.WantAssets[i].Asset.Price <span>@Model.WantAssets[i].Asset.Currency</span></div>
                        <div class="col-md-1">
                            @Html.CheckBoxFor(x => Model.ApprovedAssets[i].Selected, new { @class = "count" })
                        </div>
                        @Html.HiddenFor(x => Model.ApprovedAssets[i].Asset.InventoryNumber)
                        @Html.HiddenFor(x => Model.WantAssets[i].Asset.CurrencyCourse)
                    </div>
                }
                <div class="col-md-offset-10">
                    <hr />
                    <h4>@Common.Total: <span id="total"></span> </h4>
                </div>
            </div>
        </div>
    </div>
    @Html.HiddenFor(x => x.Request.From.Id)
    @Html.HiddenFor(x => x.Request.Id)
    <div class="form-group">
        <div class="col-md-offset-4 col-md-1">
            <input type="submit" value="@Common.Approve" class="btn btn-primary" />
        </div>
        <div class="col-md-1">
            <a class="btn btn-danger" href="/Orders/AssetOrder/Decline/@Model.Request.Id">@Common.Decline</a>
        </div>
        <div class="col-md-1">
            <a class="btn btn-default" href="/Orders/AssetOrder/GetAllRequestsForAproving">@Common.Cancel</a>
        </div>

    </div>
}

<style>
    .width-50 {
        width: 50px;
    }
</style>
@section Scripts
{
    <script src="~/Areas/Orders/Scripts/AssetOrder/RequestForApproving.js"></script>
}

